*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Balthazar', serif;
    color: #040403;
    background: #DBD8AE;
  }
  
  form {
    text-align: center;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #A6A670;
    border-radius: 8px;
    border: 5px solid #895B1E;
  }

  fieldset {
    background: #EAF4D3; 
  }

  legend {
    padding-top: 15px;
  }
  

  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
  